// ********************************************
//               About Container
// ********************************************
.about {
	border-top: 1px solid $medium;
	padding: 80px 5px;
	position: relative;
		.aboutHeader {
			top: -70px;
			position: absolute;
			padding: 0 10px;
  		text-align: center;
  		left: 50%;
  		transform: translate(-50%);
  		width: 200px;
  		background-color: none;
			&::after {
				position: absolute;
	    	content: "";
	    	height: 10px;
	    	z-index: -1;
	    	width: 100%;
	    	top: 43%;
	    	left: 50%;
	    	background-color: white;
	    	box-shadow: 0px 1px 35px 21px white;
	    	border-radius: 43%;
	    	transform: translate(-50%);
	  	}
		}
	.container {
		display: flex;
		width: 100%;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		.aboutMeContainer {
			width: 700px;
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			.aboutTextContainer {
				text-align: left;
				max-width: 50%;
				padding-left: 30px;
			}
			.aboutImageContainer {
				overflow: hidden;
				width: 50%;
				padding-right: 30px;
				max-width: 320px;
				img {
					width: 100%;
					filter: grayscale(95%);
					transition: 1s;
				}
			}
		}
		.aboutSkills {
			max-width: 700px;
			i {
				font-size: 45px;
			}

			.aboutSkillsContainer {
				padding-top: 40px;
				display: flex;
				flex-flow: row wrap;
				align-items: flex-end;
				.aboutSkillsText {
					text-align: left;
					width: 50%;
					padding: 0px 30px 0px 0px;
				}
				.skillsIconList {
					padding: 0px 0px 0px 30px;
					width: 50%;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
					text-align: center;
					.aboutSkills {
						flex-grow: 1;
						display: block;
						width: 25%;
					}
				}
			}
			.aboutWorkflowContainer {
				display: flex;
				flex-flow: row wrap;
				align-items: flex-end;
				.aboutWorkflowText {
					text-align: left;
					width: 50%;
					padding: 0px 40px 0px 0px;
				}
				.workflowIconList {
					padding: 0px 0px 0px 40px;
					width: 50%;
					display: flex;
					flex-flow: row wrap;
					justify-content: space-between;
					align-items: center;
				}
				.aboutWorkflow {
					text-align: center;
					flex-grow: 1;
					display: block;
					width: 20%;
				}
			}
		}
	}
}