// *******************************************
//              Media Queries
// *******************************************

@media (max-width: 380px) {
	h1 {
		font-size: 24px;
		font-size: 2.4rem;
	}
	h2 {
		font-size: 14px;
		font-size: 1.4rem;
	}
	nav.mobileNav {
		display: block;
		width: 100%;

	}
	header {
		nav {
			display: none;
			.navContainer{
				text-align: center;
			}
			ul.menu {
				flex-direction: column;		
			}
			div.navContainer {
				i {
					display: block;
				}
			}
		}
		.headerContainer {
			position: relative;
			top: 30%;
		}
	}
	
	.about {
		padding: 40px 5px;
		.aboutHeader {
			top: -45px;
		}
		.container {
			.aboutMeContainer {
				flex-flow: column wrap;
				.aboutImageContainer {
					padding-right: 0;
					max-width: 70%
				}
				.aboutTextContainer {
					text-align: center;
					max-width: 95%;
					padding-left: 0;
				}
			}
			.aboutSkills {
				.aboutSkillsContainer {
					flex-flow: column wrap;
					.aboutSkillsText {
						text-align: center;
						width: 95%;
						padding: 0;
					}
					.skillsIconList {
						padding: 0;
						width: 95%;
					}
				}
				.aboutWorkflowContainer {
					flex-flow: column wrap;
					.aboutWorkflowText {
						text-align: center;
						width: 95%;
						padding: 0;
					}
					.workflowIconList {
						padding: 0;
						width: 95%;
					}
				}
			}
		}
	}
	.portfolio {
		padding: 40px 5px;
		h1 {
			top: -40px;
		}
		.container {
			.portfolioContainer {
				width: 95%;
				padding: 0;
				.portfolioTextContainer {
					text-align: center;
					width: 100%;
					order: 2;
					a {
						.viewButton {
							margin: 20px auto;
							text-align: center;
					    width: 100%;
					    background-color: #818181;
					    color: #FFF;
					    letter-spacing: 1px;
					    -webkit-transition: 1s;
					    transition: 1s;
					    margin-top: 20px;
					    cursor:pointer;
					    transition: 1s;
					    p {
					    	margin: 0;
					    	color: $light;
					    }
						}
					}
				}
				.portfolioImageContainer {
					width: 100%;
					height: 300px;
					order: 1;
				}
			}
		}
	}
	.contact {
		background: white;
		padding: 40px 5px;
		h1 {
			top: -40px;
		}
		.container {
			.contactMeContainer {
				flex-flow: column wrap;
			}
			.contactFormContainer {
				margin: 10px;
			}
		}
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 28px;
		font-size: 2.8rem;
	}
	h2 {
		font-size: 18px;
		font-size: 1.8rem;
	}
	h3 {
		font-size: 14px;
		font-size: 1.4rem;
	}
	p {
		font-size: 12px;
		font-size: 1.2rem;
	}
	nav {
		.navContainer{
			text-align: center;
		}
		ul.menu {
			flex-direction: row;		
		}
	}

	.about {
		padding: 60px 5px;
		.aboutHeader {
			top: -45px;
		}
		.container {
			.aboutMeContainer{
				.aboutTextContainer{
					width: 80%;
					max-width: 700px;
				}
			}
		}
	}

	.portfolio {
		padding: 60px 5px;
		h1 {
			top: -45px;
		}
		.container {
			.portfolioContainer {
				width: 80%;
				padding: 0px;
				.portfolioTextContainer {
					width: 100%;
					order: 2
				}
				.portfolioImageContainer {
					width: 100%;
					height: 250px;
					order: 1;
				}
			}
		}
	}
	.contact {
		h1 {
			top: -45px;
		}
	}
}


@media (max-width: 700px) {
	nav {
		.navContainer{
			text-align: center;
		}
		ul.menu {
			flex-direction: row;
		}
		div.navContainer {
			i {
				display: none;
			}
		}
	}
	.about {
		padding: 40px 5px;
		.aboutHeader {
		}
		.container {
			.aboutMeContainer {
				flex-flow: column wrap;
				.aboutImageContainer {
					padding-right: 0;
					max-width: 70%
				}
				.aboutTextContainer {
					text-align: center;
					max-width: 95%;
					padding-left: 0;
				}
			}
			.aboutSkills {
				.aboutSkillsContainer {
					flex-flow: column wrap;
					.aboutSkillsText {
						text-align: center;
						width: 95%;
						padding: 0;
					}
					.skillsIconList {
						padding: 0;
						width: 95%;
					}
				}
				.aboutWorkflowContainer {
					flex-flow: column wrap;
					.aboutWorkflowText {
						text-align: center;
						width: 95%;
						padding: 0;
					}
					.workflowIconList {
						padding: 0;
						width: 95%;
					}
				}
			}
		}
	}

	.portfolio {
		padding: 40px 5px;
		h1 {
			top: -40px;
		}
		.container {
			.portfolioContainer {
				width: 80%;
				.portfolioTextContainer {
					width: 100%;
					order: 2
				}
				.portfolioImageContainer {
					width: 100%;
					height: 250px;
					order: 1;
				}
			}
		}
	}
	.contact {
		background: white;
		padding: 40px 5px;
		h1 {
			top: -40px;
		}
		.container {
			.contactMeContainer {
				width: 100%;
				max-width: 700px;
				flex-flow: column wrap;
			}
			.contactFormContainer {
				margin: 10px;
			}
		}
	}
}